
    <main class="error-404">

        <div class="container-fluid">

            <div class="row">

                <div class="breadcrumbs">

                    <div class="breadcrumb"><h2><a href="{{ function('get_home_url') }}" title="Homepage">Homepage</a></h2></div>

                    <div class="breadcrumb backslash">/</div>
                    
                    <div class="breadcrumb"><h2><a href="{{ function('get_permalink') }}" title="Pagina indisponibila">Pagina indisponibila</a></h2></div>

                </div>

            </div>

        </div>

        <section class="center-alignment main-content">

            <div class="container">

                <h3>Ne pare rău dar pagina accesată nu mai este disponibilă</h3>

            </div>

        </section>

    </main>