#ignore
wp-config.php
.htaccess
index.php
wp-admin/
wp-includes/
wp-content/plugins/*
phpunit
tests

#except 
!wp-content/plugins/ebicla-custom-plugin/
!wp-content/plugins/ebicla-custom-plugin/*
!wp-content/plugins/notifications-plugin/
!wp-content/plugins/notifications-plugin/*
